---
layout: default
title: Pricing
suppress_header: true
extra_css:
  - subscription.css
extra_js:
  - subscription.js
---

<div class="wrapper">
  <div class="pricing-container">
    <div class="pricing-overlay">
      <div class="pricing-content">
        <h1>GitLab Enterprise Edition on your Server</h1>
        <h4>No hidden fees and a 45-day money back guarantee</h4>
      </div>
    </div>
  </div>

  <div class="subscriptions" id="subs">
    <div class="row">
      <div class="col-sm-4">
        <div class="basic subscription">
          <div class="header">
            Basic
            <div class="sub-header">
              GitLab for Small Organizations
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>3.25
            <div class="subprice" data-toggle="tooltip" data-placement="left" title="A user is defined as an individual authorized by you to use an on-premise GitLab server.">
              per user per month
              <br>
              available in $390 user packs
              <br>
              with 10 yearly users each
            </div>
          </div>
          <div class="details">
            <div class="detail" data-toggle="tooltip" data-placement="left" title="Only subscribers are allowed to use Enterprise Edition. You will get access to the source code, modifications are permitted and you get access to all updates.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Access to GitLab Enterprise Edition (EE)
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Next-business day support
              </div>
            </div>
          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab-basic-enterprise-yearly-10" class="basic button" id="order-basic" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Subscription Select', 'Basic']);">Basic subscription by credit card</a>
          <div class="cc-only">Basic subscription is credit card only</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="standard subscription">
          <div class="header">
            standard
            <div class="sub-header">
              Highly available, all the time
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>4.08
            <div class="subprice" data-toggle="tooltip" data-placement="left" title="A user is defined as an individual authorized by you to use an on-premise GitLab server.">
              per user per month
              <br>
              available in $4900 user packs
              <br>
              with 100 yearly users each
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Everything from Basic
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="Taking care of critical availability incidents, we aim for a 30 minute response time.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                24/7 Emergency Support
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="We set-up an online meeting to help you install and configure the GitLab server.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body double">
                Live installation and configuration assistance
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="We set-up an online meeting to help you upgrade the GitLab installation.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Live upgrade assistance
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="Tools and support for running GitLab in a highly available environment on multiple servers.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                High Availability
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="You receive support for our continuous integration tool as well">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                GitLab CI Support
              </div>
            </div>
          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab-standard-yearly-100" class="basic button" id="order-standard" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Subscription Select', 'Standard']);">Standard subscription by credit card</a>
          <a href="/subscription/form.html" class="basic button">Standard subscription by bank transfer</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="plus subscription">
          <div class="header">
            Plus
            <div class="sub-header">
              Set the path for GitLab
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>12.42
            <div class="subprice" data-toggle="tooltip" data-placement="left" title="A user is defined as an individual authorized by you to use an on-premise GitLab server.">
              per user per month
              <br>
              available in $14,900 user packs
              <br>
              with 100 yearly users each
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Everything from Standard
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="If there are features you would like to see that we both think belong in GitLab we'll prioritize them.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body double">
                Prioritize features important to you
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="We offer online workshops to your engineers for both Git and best practices when using GitLab.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Best practices training
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="An Account Manager will develop a deeper understanding of your deployment environment, will regularly review Bug / Feature requests and Support interaction, as well as provide strategies for user provisioning.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Dedicated Account Manager
              </div>
            </div>
          </div>
          <a href="https://gitlab.recurly.com/subscribe/gitlab-plus-yearly-100" class="basic button" id="order-plus" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Subscription Select', 'Plus']);">Plus subscription by credit card</a>
          <a href="/subscription/form.html?Plus+Subscription" class="basic button">Plus subscription by bank transfer</a>
        </div>
      </div>
    </div>
    <p>
      &nbsp;
    </p>
  </div>


  <div class="pricing-notes">
    <p>
      <a href="/subscription/form.html" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Request a Quotation']);">Request a quotation</a>
    </p>

    <p>
      <a href="/license-faq">Frequently asked questions</a> about subscriptions and licensing
    </p>

    <p>
      <a href="https://about.gitlab.com/sales/" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Email for questions']);">Fill out our form </a> if you have any questions, or email us at <a href="mailto:sales@gitlab.com">sales@gitlab.com</a>.
    </p>

    <p>
      <a href="/downloads">Download</a>
      the open source GitLab Community Edition
      if you want to run it for free on your own servers.
    </p>

    <p>
      <a href="/features/#compare">Compare</a> the features of GitLab Community Edition and Enterprise Edition
    </p>

    <p>
      <a href="/gitlab-com">Sign up</a> for our free GitLab.com service
      if you want to use GitLab without installing it.
    </p>

  </div>

  <hr class='divider'>

  <div class="container">
    <div class="row other-services" id="services">
      <div class="subs-header">
        <div class="title">
          Services
        </div>
        <div class="subtitle">
          Want us to help you with something else?
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <a href="/consultancy">
            <img src="/images/icons/cons_icon.png" id="consultancy" class="gs">
            <h2>Consultancy</h2>
            <p>Upgrade or install GitLab.</p>
            <a href="/consultancy/" class="btn btn-md btn-default">Get a quote</a>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <a href="/development">
            <img src="/images/icons/dev_icon.png" id="development" class="gs">
            <h2>Development</h2>
            <p>Add a new feature to GitLab.</p>
            <a href="/development/" class="btn btn-md btn-default">Get a quote</a>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <a href="/training">
            <img src="/images/icons/tra_icon.png" id="training" class="gs">
            <h2>Training</h2>
            <p>Git training workshop.</p>
            <a href="/training/" class="btn btn-md btn-default">Get a quote</a>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="other-services">
    <div class="spacer">
      <a href="#subs" class="btn btn-lg btn-default">back to top</a>
    </div>
  </div>


</div>
